.headertable {
    margin-left: auto;
    margin-right: auto;
  }
  h1{
    color: darkblue;
    text-align: center;
    margin-top: 0px;
  }
  .buttonhead{
    padding: 2px 2px;
  color: white;
  padding: 4px 4px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16x;
  margin: 4px 4px;
  transition-duration: 0.4s;
  cursor: pointer;
  background-color:darkblue;
  }
  .frame{
    width: 100%;
    height: 220px;
    margin-top: 0px;
    margin-bottom: 10px;
    align-content: center;
    border: 0cm;
  }
/* .headerBody{
    background-image: url(logo\ 200.jpg), url(logo\ 100.jpg);
    background-position: left, right;
    background-repeat: no-repeat,no-repeat;
background-position: 50px;
}
 */td{
  height: 100px;
}